* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-size: 10px;
  font-family: 'Lato', sans-serif;
}

h1 {
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 4.5em;
  font-weight: 900;
  text-transform: uppercase;
}
h2 {
  margin: 0 0 40px;
  font-size: 3.6em;
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
}
h4 {
  margin-bottom: 20px;
  font-size: 2.4em;
  font-weight: 700;
}

.wrapper_100 {
  width: 100%;
  margin: 0 auto;
}
.wrapper_80 {
  width: 80%;
  margin: 0 auto;
}

.margin_bottom40 {
  margin-bottom: 40px;
}

.padding_top_bottom80 {
  padding: 80px 0;
}

.color_white {
  color: white;
}

.bg_green {
  background-color: #19bd9b;
}

.btn_green {
  padding: 10px;
  border-radius: 10px;
  background-color: #19bd9b;
}

.liststyle_none {
  list-style: none;
}

.line {
  display: inline-block;
  width: 120px;
  height: 4px;
  margin: 0 10px;
  border: 1px solid white;
  border-radius: 5px;
  background-color: white;
}
.line_blue {
  border: 1px solid #2c3d51;
  background-color: #2c3d51;
}
.fa-star {
  vertical-align: middle;
  font-size: 35px;
}

/* header */
/* header_top */
.header_top {
  position: fixed;
  top:0;
  left: 0;
  width: 100%;
  height: 100px;
  line-height: 100px;
  z-index: 3;
  background-color: #2c3d51;
}
/* logo */
a.start {
  font-size: 1.8em;
  font-weight: bold;
  border: 0;
}
a.start:hover {
  color: white;
  text-decoration: none;
}
/* lista */
.header_top nav ul li {
  display: inline-block;
  padding-left: 40px;
  font-size: 1.1em;
}

.header_top nav ul li a {
  font-size: 1.5em;
  font-weight: 600;
}
.header_top nav ul li a:hover {
  text-decoration: none;
  color: #19bd9b;
}

/* hamburger */
a.menu {
  font-weight: 600;
}
a.menu:hover ,
.btn_send:hover {
  color: white;
  background-color: #127567;
}
.icon_hamburgher {
  padding-left: 5px;
  vertical-align: text-top;
}

/* jumbo */
.jumbo {
  margin-top: 100px;
}

.jumbo_title {
  width: 100%;
  margin: 0 auto;
}

.avatar {
  width: 250px;
}

.title_bottom_p {
  margin-top: 40px;
  font-size: 2em;
}

/* portfolio */
.box_portfolio {
  position: relative;
  width: 100%;
  margin: 15px 0;
  cursor: pointer;
}

.box_portfolio img {
  width: 100%;
  border-radius: 10px;
}

.hover_box {
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  line-height: 260px;
  border-radius: 10px;
  font-size: 7em;
  color: #fff;
  background-color: rgba(40, 191, 126, .8);
}
.box_portfolio:hover .hover_box{
  visibility: visible;
}

/* about */
.p_up {
  font-size: 2em;
}

.btn_border {
  padding: 20px;
  border: 2px solid white;
  font-size: 2em;
}

.btn_border:hover {
  background-color: white;
}

.glyphicon-save {
  margin: 0 5px;
}

/* contact */
.form_text {
  width: 78%;
  border: 0;
  border-radius: 0;
  box-shadow: none;
  -webkit-box-shadow: 0;
  font-size: 2.5em;
  color: red;
}

.form_text::placeholder {
  color: #2c3d51;
}

input,
textarea {
  display: block;
  width: 80%;
  margin: 20px auto;
  border: 0;
  font-size: 1.8em;
}

input.form_text,
textarea.form_text {
  height: 80px;
  border-bottom: 1px solid #e9ecef;
}
input.form_text:focus ,
textarea.form_text:focus {
  box-shadow: none;
  border-bottom: 1px solid #e9ecef;
}

textarea.form_text {
  height: 200px;
  padding-top: 20px;
}

.btn_send {
  padding: 15px 20px;
  text-align: left;
  font-size: 2em;
}

/* footer_top */
.footer_top {
  width: 100%;
  background-color: #2c3d51;
}

.p_2 {
  text-align: center;
  font-size: 2em;
}

.span_green {
  color: #19bd9b;
}

.i_circle {
  display: inline-block;
  width: 50px;
  height: 50px;
  margin-left: 5px;
  margin-right: 5px;
  line-height: 50px;
  text-align: center;
  font-size: 20px;
  border: 2px solid white;
  border-radius: 50%;
}

.footer_top a {
  color: white;
}

.footer_top i:hover {
  color: black;
  background-color: white;
}

/* footer_bottom */
.footer_bottom {
  padding: 30px 0;
  font-size: 1.2em;
  background-color: #0c1023;
}

/* media query */
/* XS */
@media screen and (max-width: 768px) {
  .wrapper_xs_80 {
    width: 80%;
    margin: 0 auto;
  }
  .line {
    max-width: 25%;
  }
  .box_portfolio {
    max-width: 70%;
    margin: 15px auto;
  }
  .padding_top_bottom100 {
    padding-bottom: 50px;
  }
  h4 {
    margin-top: 40px;
  }
  .p_2 {
    width: 85%;
    margin: 0 auto;
  }
}
/* MD */
@media screen and (min-width: 768px) {
  .wrapper_md_80 {
    margin: 0 auto;
    width: 80%;
  }
  h4 {
    margin-top: 40px;
  }
  .p_2 {
    width: 85%;
    margin: 0 auto;
  }
}
/* LG */
@media screen and (min-width: 992px) {
  a.start {
    font-size: 2.3em;
  }
  h1 {
    font-size: 6em;
  }
  .title_bottom_p {
    font-size: 2.4em;
  }
  h2 {
    font-size: 4.2em;
  }
  .wrapper_lg_60 {
    width: 60%;
    margin: 0 auto;
  }
  .p_up {
    text-align: left;
  }
}
